/* header + footer*/
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    background-image: url(/img/bg1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0px 166px;
}

.navbar-brand{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.header-line {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header-logo img{
    height: 100px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;

    margin-right: 25px;

    transition: color 0.2s linear;
}

.nav-item:hover {
    color: #ff953e;
}

.icons{
    size = 20px;
    align-items: center;
    display: flex;
    transition: color 0.2s linear;
}

.cart .fa-solid{
    color: #fff;
    margin-right: 25px;
}

.cart .fa-solid:hover{
    color: #d81d1d;
}

.user .fa-regular{
    color: #fff;
}

.user .fa-regular:hover{
    color: #d81d1d;
}

.phone{
    display:none;
}
/* header + footer*/



.authorization {
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.au {
    margin-right: 300px;
    margin-left: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.

h1 {
    font-size: 36px;
    color: #333;
}

form {
    display: inline-block;
    text-align: left;

}

input{
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input[type=submit] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

a {
    color: #333;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}
.button{
    width: 100%;
}





@media (max-width: 1200px) {
    .nav{
        margin-left: 20px;
    }
    .form{
        margin:0;
    }
    .form .container{
        padding: 0;

    }
}

@media (max-width: 1000px){
    .au{
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 150px;
    }
    .phone{
        display: flex;
    }
    .header-line{
        display: none;
    }
    .header-line .nav,
    .header-line .icons{
        display: none;
    }
    .header-line{
        justify-content: space-between;
    }
    .form{
        margin-top: 100px;
    }
    .about-block{
        margin-top: 70px;
    }

}
@media (max-width: 767px) {
    .au{
        margin: 0;
        margin-top: 120px;
    }
    .container {
        margin: 0px 30px;
    }
    .header-title{
        margin-top: 36px;
        font-size: 40px;
    }

    .header-line {
        margin-left:30px;
        margin-right: 30px;
    }
    .nav-item {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .header-logo img {
        height: 60px;
    }
    .info{
        padding: 0;
    }
    .info p{
        font-size: 14px;
    }

}